.l-header {
  background-color: var(--brandDarkColor);
  padding: 10px 0;
  text-align: center;

  &__logo {
    max-width: 40px;
    animation: spin 5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
