.c-nav {
  padding: 20px 0;
  background-color: #282c34;

  &__list {
    display: flex;
    align-items: center;

    & > li {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    &__link {
      position: relative;
      display: inline-block;
      color: #fff;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        color: var(--brandBlueColor);
      }

      &.active {
        color: var(--brandBlueColor);

        &::after {
          display: block;
          position: absolute;
          bottom: -6px;
          content: '';
          width: 100%;
          border-bottom: 2px solid var(--brandBlueColor);
        }
      }
    }
  }
}
